:root{
    /* Variables de color */
    --header-bg-color:#303030;
    --h1-color:#cccccc;
    --main-bg-color: #505050;
    --container-bg-color:#ffccff;
    --container-border-color:#303030;
    --span-color:#303030;
    --footer-bg-color:#303030;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{

    background-color: var(--main-bg-color);

}
header{
    width: 100vw;
    height: 10vh;
    background-color:var(--header-bg-color);
}
.header__h1{
    color:  var(--h1-color);
    font-size: 70px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

main{
    height: 50vh;
}
.main__container{
    width: 80vw;
    background-color: var(--container-bg-color);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    box-shadow: #303030 -15px 20px;
    
}
.main_span{
    font-size: 15vw;
    width: 20vw;
    text-align: center;
    color: var(--span-color);
}


footer{
    width: 100vw;
    height: 10vh;
    background-color: var(--footer-bg-color);
    position: relative;
    top: 30vh;
    
}

@media (max-width: 480px) {

    .header__h1{
        font-size: 50px;
    }

}

@media (max-width: 350px) {

    .header__h1{
        font-size: 40px;
    }

}