*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: greenyellow;

}
header{
    width: 100vw;
    height: 10vh;
    background-color: darkgreen;
}
.header__h1{
    color:  lightyellow;
    font-size: 70px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

main{
    height: 50vh;
}
.main__container{
    width: 80vw;
    background-color: yellow;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 4px solid black;
}
.main_span{
    font-size: 15vw;
    width: 20vw;
    font-family: Verdana;
    text-align: center;
    
}


footer{
    width: 100vw;
    height: 10vh;
    background-color: darkgreen;
    position: relative;
    top: 30vh;
    
}

@media (max-width: 480px) {

    .header__h1{
        font-size: 50px;
    }

}

@media (max-width: 350px) {

    .header__h1{
        font-size: 40px;
    }

}